<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload App - <%= pageTitle %>
  </title>
  <%- assetsCSS.map(asset=> `
    <link rel="stylesheet" href="${asset}">`).join("") %>
</head>

<body>
  <header>
    <h1>Image Upload Application</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/entries">Entries</a></li>
        <li><a href="/entries/new">New Entry</a></li>
      </ul>
    </nav>
  </header>
